:root {
  --color-primary: #16161a;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-experience-background: #242629;
  --color-experience-timeline-background: #16161a; }

/* 
    Normalize the CSS to make every browser render the page in the exact same way 
    The universal selector selects every element on the webpage and apply the declarations
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  /* 
        This defines what 1 REM is
        1 REM = 10 pixels 
        10px/16px = 62.5%
    */
  font-size: 62.5%;
  /* 
        Change the box model so that the borders and paddings are no longer added to
        the total width or the total height that we specify for a box.
    */
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.heading-primary {
  text-align: center;
  margin-top: -10rem; }
  .heading-primary__main {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem; }
  .heading-primary__sub {
    width: 80%;
    margin: 4.5rem auto;
    font-size: 2rem;
    font-weight: 100;
    line-height: 3.5rem; }

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: 110%; }
  .row__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-transform: uppercase;
    background-color: #303337;
    height: 13rem;
    width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
    transition: transform .6s, border .2s;
    border-bottom: 3px solid #84fab0;
    /* 
            Change the rectangular design
            
            This skews the card and everything inside the card
        */
    transform: skewX(-25deg); }
    .row__card:not(:last-child) {
      margin-right: 5.5rem; }
    .row__card:hover {
      transform: scale(1.2) skewX(-25deg);
      border: 3px solid #84fab0; }
    .row__card__heading {
      font-size: 2rem;
      transform: skewX(25deg); }
    .row__card__content {
      padding-top: .2rem;
      letter-spacing: .1rem;
      font-size: 1.2rem;
      text-align: center;
      font-style: italic;
      transform: skewX(25deg); }

.experience__heading {
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: -.5rem;
  padding-top: 5rem; }

.experience__subheading {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: .2rem; }

.underline {
  padding: 1.5rem;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 17.5%;
  background-position: 0 80%;
  transition: all .3s; }
  .underline:hover {
    background-size: 100% 100%;
    color: #000; }

.underline-smaller {
  display: inline-block;
  padding-bottom: 1.5rem;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 9%;
  background-position: 0 70%; }

.highlight {
  background: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  transition: all .5s;
  padding: .9rem;
  color: #000; }

.bracket {
  font-size: 7rem;
  margin: .5rem;
  position: relative;
  top: 1.1rem; }

.timeline-content {
  text-align: center; }

.timeline {
  margin-top: 10rem;
  list-style: none;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  border-left: 1px solid #84fab0;
  padding: 4rem;
  margin: 10rem auto; }
  .timeline__event {
    position: relative;
    background-color: var(--color-experience-timeline-background);
    padding: 3rem;
    box-shadow: 0 0.9rem 1.5rem rgba(0, 0, 0, 0.5); }
    .timeline__event:not(:last-child) {
      padding-bottom: 2.5rem;
      margin-bottom: 2.5rem; }
    .timeline__event:before, .timeline__event:after {
      display: block;
      top: 0;
      position: absolute; }
    .timeline__event:before {
      left: -21rem;
      top: 4.5rem;
      content: attr(data-date);
      text-align: right;
      font-weight: 100;
      letter-spacing: .5rem;
      padding-bottom: 1.5rem;
      background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 9%;
      background-position: 0 70%; }
    .timeline__event:after {
      box-shadow: 0 0 0 fade(black, 100%);
      left: -5.5rem;
      background: var(--color-experience-background);
      border: 1px solid #84fab0;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      content: '';
      top: 4.75rem; }
    .timeline__event > h3 {
      margin-bottom: 2rem; }

.header {
  height: 100vh;
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.spiky-bottom::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 30px;
  background-size: 30px 100%;
  background-image: linear-gradient(135deg, var(--color-primary) 25%, transparent 25%), linear-gradient(225deg, var(--color-primary) 25%, transparent 25%);
  background-position: 0 0; }

.experience {
  height: 100vh;
  background: var(--color-experience-background);
  color: var(--color-grey-light-1);
  display: flex;
  align-items: center;
  flex-direction: column; }
