.header {
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}